body{
    width:94%;
    position:absolute;
    height:100%;
    margin-left:2%;
    top:0px;
    background-color:#fafafa;
    border: 6pt solid #777;
    border-width: 0px 10px 0px 10px;
    border-style:groove;
    overflow:hidden;
}
#relative_content{
    position:relative;
    
}
#title{
    margin:auto;
    text-align:center;
}

#horiz_nav {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

#horiz_nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: left;
    padding: 6px 20px;
    text-decoration: none;
}

.drop {
    float: left;
    overflow: hidden;
    min-width: 12%;
}

.drop .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 6px 20px;
    background-color: inherit;
    width: 100%;
}

#horiz_nav a:hover, .drop:hover .dropbtn {
    background-color: orangered;
}

.down {
    display: none;
    position: absolute;
    background-color: #777;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.down a {
    
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    min-width: 150px;
    display: block;
    text-align: left;
}

.down a:hover {
    background-color: #ddd;
}

.drop:hover .down {
    display: block;
}