body{
overflow:hidden;

}
#logo {
  text-align: center;
  margin:20px;
  margin-bottom: 40px;
  text-shadow:10px 10px 25px black;
  font-size: 45pt;
}

#login_content{
  width: 400px;
  height:250px;
}
.login{
  -moz-box-shadow: 10px 10px 25px #000000;
  -webkit-box-shadow: 10px 10px 25px #000000;
  box-shadow: 10px 10px 25px #000000;
  border: none;
  border-radius: 50px;
  margin:auto;
  background-color: #646464;
}

#new_user{
  height: 300px;
  width:400px;
  display:none;

}

.login_form{
  margin-left:70px;
}

.login_btn{
  cursor: pointer;
  color: #eee;
  padding:5px 5px 5px 5px;
  width:110px;
  height:100%;
  display: inline-block;
  background-color:#404040;
  border-radius:5px;
  border: 4px solid #404040;
}

.login_btn:hover{
  background-color: #505050;
}

.login_btn:active{
color:#ddd;
}

#ajax_loader{
  display: none;
  z-index: 5;
  top:0px;
  left:0px;
  position:absolute;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.7);
}
#textbox{
  background-color: #111;
  z-index: 15;
  position:relative;
  height:150px;
  width:150px;
  margin:auto;
  margin-top: 20%;
  border: 4px solid black;
  border-radius:50%;
}
#loader1{
  position:absolute;
  top:0px;
  left:0px;
  border: 5px solid #111;
	border-top: 5px solid rgb(73,255,216);
	border-radius: 50%;
	width: 140px;
	height:140px;
	animation: spin 2s linear infinite;
}

#loader2 {
  position:absolute;
  top: 20px;
  left:20px;
	border: 5px solid #111;
	border-top: 5px solid rgb(200,42,255);
	border-radius: 50%;
	width: 100px;
	height:100px;
	animation: spin 1.5s linear infinite;
  animation-direction: reverse;
}

#loader3 {
  position:absolute;
  top: 45px;
  left:45px;
	border: 5px solid #111;
	border-top: 5px solid rgb(214,27,55);
	border-radius: 50%;
	width: 50px;
	height:50px;
	animation: spin 1s linear infinite;
}

#loader4 {
  position:absolute;
  top: 60px;
  left:60px;
	border: 15px solid #3da8ff;
	border-top: 15px solid rgb(42,255,44);
	border-radius: 50%;
	width: 0px;
	height:0px;
	animation: spin .7s linear infinite;
  animation-direction: reverse;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.close{
  float:right;
  margin: 2px;
}
.notification {
    padding:5px;
    position: absolute;
    right: -400px;
    bottom:10px;
    width: 350px;
    height: auto;
    background: #444;
    border: 6px solid black;
    border-radius:20px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: .2s;
    animation: slide 0.5s forwards;
    animation-delay: .2s;
    -moz-box-shadow: 10px 10px 25px #000000;
    -webkit-box-shadow: 10px 10px 25px #000000;
    box-shadow: 10px 10px 25px #000000;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}
